.btn-white {
    --bs-btn-color: #000;
    --bs-btn-bg: transparent;
    /* Cor de fundo branca */
    --bs-btn-border-color: transparent;
    /* Cor da borda branca */
    --bs-btn-hover-color: #000;
    --bs-btn-hover-bg: #f0f0f0;
    /* Cor de fundo quando hover */
    --bs-btn-hover-border-color: #f0f0f0;
    /* Cor da borda quando hover */
    --bs-btn-focus-shadow-rgb: 130, 138, 145;
    --bs-btn-active-color: #000;
    --bs-btn-active-bg: #f0f0f0;
    /* Cor de fundo quando ativo */
    --bs-btn-active-border-color: #ccc;
    /* Cor da borda quando ativo */
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #6c757d;
    --bs-btn-disabled-border-color: #6c757d;
}