.title {
    font-family: 'Inter', sans-serif;
}

.container-md {
    font-family: "Montserrat", sans-serif;
}

.card {
    background-color: #F2F2F2;
    color: #000;
    border: none;
    flex: 1;
    border-radius: 12px;
}

.card-title {
    color: #AEAEB2;
    font-weight: 500;
    font-size: 1.125rem;
}

.card-text {
    color: #3C3C3C;
    font-size: 1.75rem;
    font-weight: 600;
}


.medium {
    flex: 1;
}

.table-card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.transaction-row {
    width: 100%;
    --bs-table-bg: #F2F2F2;
    --bs-border-bottom-width: 0px;

    td {
        font-size: 1rem;
        font-weight: 400;
        color: #858585;
    }
}

.category-ball {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    display: inline-block;
}

.category-ball.green {
    background-color: #FFD152;
}

.category-ball.smooth-green {
    background-color: #C9E388;
}

.category-ball.orange {
    background-color: #FF7F0A;
}

.link {
    font-weight: 600;
}

.large {
    width: 90%;
}

.metas-card {
    display: flex;
    padding: 2rem;
    flex-direction: column;
    justify-content: space-around;
    gap: 3rem;
}

.progress-wrapper {
    display: flex;
    gap: 1rem;
}

.meta-title {
    width: 300px;
    color: #858585;
}

.progress {
    width: 100%;
    height: 25px;
    position: relative;
}

.progress-bar {
    background-color: #61AF93;
}

.percentage {
    position: absolute;
    font-weight: 600;
    left: 50%;
    top: 4px;
}

