body{
  margin: 0px;
  padding: 0px;
}

.container{
  display: flex;
  padding: 0;
  margin: 0;
}
.image {
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
}
.text {
  align-self: center;
}
.title {
  font-family: "Montserrat", sans-serif;
  color: #244A12;
  font-weight: bold;
  font-size: 34px;
  margin-bottom: 0px;
  padding: 0px;
}
.title2 {
  font-family: "Montserrat", sans-serif;
  color: #244A12;
  font-weight: bold;
  font-size: 48px;
  margin-top: 0px;
  padding: 0px;
}

.subtitle {
  font-family: "Montserrat", sans-serif;
  font-weight:400;
  color: #AEAEB2;
  font-size: 28px;
}

button{
  color:#80AF61;
}