.icon-text { font-size: 2em; }
.icon {
 position: relative;
 display: table-cell;
 width: 70px;
 height: 36px;
 text-align: center;
 vertical-align: middle;
 font-size:20px;
}
.menu-sidebar {
 width:65px;
 height:100%;
 top:0;
 left:0;
 bottom:0;
 background:#80AF61;;
 position:absolute;
 overflow:hidden;
 -webkit-transition:width .04s linear;
 transition:width .04s linear;
 z-index:1000;
}
.menu-sidebar li {
  position:relative;
  display:block;
  width:250px;
}
.nav-icon {
 position:relative;
 display:table-cell;
 width:60px;
 height:36px;
 text-align:center;
 vertical-align:middle;
 font-size:1em;
}
.menu-texto {   
   position:relative;
   display:table-cell;
   vertical-align:middle;
   width:190px;
}

nav ul,nav li {
   outline:0;
   margin:0;
   padding:0;
}
.menu-sidebar li:hover>a,nav.menu-sidebar li.active>a,.dropdown-menu>li>a:hover,.dropdown-menu>li>a:focus,.dropdown-menu>.active>a,.dropdown-menu>.active>a:hover,.dropdown-menu>.active>a:focus,.no-touch .dashboard-page nav.dashboard-menu ul li:hover a,.dashboard-page nav.dashboard-menu ul li.active a {
    color:#fff;
    background-color:#3c3c3c;
}